In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/HARSHIT/Desktop/ML/DataSETS/movie_review/review_short.csv')

In [4]:
df.head()

   Unnamed: 0                                             review sentiment
0       18597  I was geared up to not like this movie, and th...  positive
1       46892  Prior to this release, Neil LaBute had this to...  negative
2       16527  On seeing this movie, I didn't expect much. I ...  positive
3        8617  After reading the book, Heart of Darkness, the...  negative
4       15758  At times I really wonder
 when I look at the c...  positive

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2000 non-null   int64
 1   review      2000 non-null   object
 2   sentiment   2000 non-null   object
dtypes: int64(1), object(2)
memory usage: 47.0+ KB

# Text cleaning
- remove html tags
- remove special characters
- converting every thing to lower case
- remove stop words
- stemming

In [5]:
df['sentiment'].replace({'positive':1,'negative':0},inplace=True)

In [6]:
df.head(2)

   Unnamed: 0                                             review  sentiment
0       18597  I was geared up to not like this movie, and th...          1
1       46892  Prior to this release, Neil LaBute had this to...          0